body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto; /* Agregar desplazamiento general en la ventana del navegador */
}

#mapaMesas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mesa {
    width: 100%;
    height: 100%;
    border: 4px solid #555;
    background-color: #cc2121;
    position: relative;
    cursor: pointer;
}

.mesa.ocupada {
    background-color: #2ecc71;
}

.mesa .info {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    white-space: pre-wrap; /* Permitir el retorno de línea */
}

.context-menu {
    position: fixed;
    display: none;
    background-color: white;
    border: 1px solid black;
    z-index: 9999;
    font-size: 16px;
}

.context-menu-item {
    padding: 10px 20px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: lightgray;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}
